/* popppins */
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);

}
/* nunito fonts */
@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito/static/Nunito-Regular.ttf);
}
