@media only screen 
  and (min-device-width: 1px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1) {

    /* navbar start */
    .navbar {
        height: 4em;
    }

    .navbar ul {
        display: none;
    }

    .navbar .menu {
        display: flex;
    }

    /* navbar end */
    /* hero-content start */
    .hero-content {
        flex-wrap: wrap;
        height: 100%;
    }

    .hero-content article {
        width: 100%;
        height: 15em;
        align-items: center;
    }

    .hero-content h1 {
        margin-top: 2em;
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .hero-content img {
        width: 100%;
        height: 8em;
        margin-bottom: 2em;
    }

    /* hero-content end */
    /* .article-content start */
    .article-content {
        height: 100%;
    }
    .article-content .card {
        flex-wrap: wrap;
        height: 100%;
    }

    .article-content article {
        width: 100%;
        text-align: center;
    }

    .article-content div {
        width: 100%;
    }

    .article-content img {
        width: 100%;
    }

    /* .article-content end */
    /* cards-content start */
    .cards-content {
        grid-template-columns: 1fr;
        height: 100%;
    }

    /* cards-content end */
    /* more-content start */
    .more-content {
        height: 100%;
    }
    .more-content .card{
        flex-wrap: wrap;
        height: 100%;
    }

    .more-content article {
        width: 100%;
        text-align: center;
    }

    .more-content div {
        width: 100%;

    }

    .more-content h1 {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .more-content p {
        font-size: 1em;
    }

    .more-content img {
        width: 100%;
        height: 20em;
    }

    /* more-content end */
    /* btn-more start */
    .btn-more {
        display: flex;
        justify-content: center;
    }

    .btn-more .btn {
        font-size: 0.8em;
        width: 100%;
    }

    /* btn-more end */
    /* footer start */
    .footer {
        height: 4em;
        font-size: 0.8em;
    }

    /* footer end */
}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    /* navbar start */
    .navbar {
        height: 4em;
    }

    /* navbar end */
    /* hero-content start */
    .hero-content {
        height: 100%;
    }

    .hero-content article {
        width: 100%;
        height: 15em;
    }

    .hero-content h1 {
        margin-top: 2em;
        font-size: 2.5em;
    }

    .hero-content p {
        font-size: 1.1em;
    }

    .hero-content img {
        width: 100%;
        height: 8em;
        margin-bottom: 2em;
    }

    /* hero-content end */
    /* .article-content start */
    .article-content {
        height: 100%;
    }
    .article-content .card {
        flex-wrap: wrap;
        height: 100%;
    }

    .article-content article {
        width: 100%;
    }

    .article-content div {
        width: 100%;
    }

    .article-content img {
        width: 100%;
    }

    /* .article-content end */
    /* cards-content start */
    .cards-content {
        grid-template-columns: 1fr;
        height: 100%;
    }

    /* cards-content end */
    /* more-content start */
    .more-content {
        height: 100%;
    }
    .more-content .card {
        flex-wrap: wrap;
        height: 100%;
    }

    .more-content article {
        width: 100%;
    }

    .more-content div {
        width: 100%;

    }

    .more-content h1 {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .more-content p {
        font-size: 1em;
    }

    .more-content img {
        width: 100%;
        height: 20em;
    }

    /* more-content end */
    /* footer start */
    .footer {
        height: 4em;
        font-size: 0.8em;
    }

    /* footer end */
}

