:root {
    --color-1: #ffffff;
    --color-2: #dadada;
    --color-3: #5d5d5d;
    --boxShadow: 0 0 4px 0 rgba(1, 1, 1, 0.1);
    --paddingAll: 0 10%;
    --marginAll: 2.5em 0;
    --colorSpan: #ffa620;
}

body {
    font-family: poppins;
}

span {
    color: var(--colorSpan);
    font-weight: bold;
}

/* navbar start */
.navbar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.3em;
    text-transform: capitalize;
    background-color: var(--color-1);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: var(--paddingAll);
    box-shadow: var(--boxShadow);
    ;
}

.navbar>a {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar li:hover {
    text-decoration: underline;
}

.navbar .menu {
    display: none;
}

/* navbar start */
/* hero-content start */
.hero-content {
    padding: var(--paddingAll);
    display: flex;
    height: 40em;
    background-image: radial-gradient(farthest-side at 20% 80%, var(--color-1), var(--color-2));
}

.hero-content article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.hero-content h1 {
    font-size: 3.8em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.6em;
}

.hero-content img {
    height: 18em;
    align-self: center;
    width: 50%;
}

/* hero-content end */
/* article-content start */
.article-content {
    padding: var(--paddingAll);
    height: 15em;
    margin: var(--marginAll);
    display: flex;
}

.article-content .card {
    display: flex;
    width: 100%;
    box-shadow: var(--boxShadow);
}

.article-content .card:hover {
    cursor: pointer;
}

.article-content article {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.article-content img {
    width: 40%;
    height: 15em;
    object-fit: cover;
}

.article-content div {
    width: 32em;
}

.article-content h2 {
    font-size: 30px;
    margin-bottom: 1em;
}

.article-content p {
    color: var(--color-3);
    line-height: 1.5em;
}

.article-content .article-footer {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

/* article-content end */
/* cards-content start*/
.cards-content {
    padding: var(--paddingAll);
    height: 25em;
    margin: var(--marginAll);
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards-content .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    transition: 0.5s;
}

.cards-content .card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cards-content img {
    width: 100%;
}

.cards-content article {
    padding: 20px;
}

.cards-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.cards-content p {
    color: var(--color-3);
}

.cards-content .card-footer {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

/* cards-content end */
/* more-content start */
.more-content {
    height: 38em;
    margin: var(--marginAll);
    padding: var(--paddingAll);
    display: flex;
}

.more-content .card {
    width: 100%;
    display: flex;
}

.more-content .card:hover {
    cursor: pointer;
}

.more-content article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 45%;
    background-color: var(--color-2);
    box-shadow: var(--boxShadow);
}

.more-content div {
    width: 25em;
}

.more-content h1 {
    font-size: 40px;
    margin-bottom: 1em;
}

.more-content p {
    line-height: 1em;
    color: var(--color-3);
}

.more-content img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}

.more-content .more-footer {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

/* more-content end */
/* btn-more start */
.btn-more {
    padding: var(--paddingAll);
    margin: var(--marginAll);
    display: flex;
    justify-content: flex-end;
}

.btn-more .btn {
    border: none;
    color: var(--color-1);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--colorSpan);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-more .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* btn-more end */
/* footer start */
.footer {
    height: 5.3em;
    box-shadow: var(--boxShadow);
    padding: var(--paddingAll);
    background-color: var(--color-1);
    color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5em;
    font-weight: bold;
}

.footer a {
    font-size: 14px;
    color: #25D366;
}

/* footer end */