:root {
    --color-1: #ffffff;
    --color-2: #dadada;
    --color-3: #5d5d5d;
    --boxShadow: 0 0 4px 0 rgba(1, 1, 1, 0.1);
    --colorSpan: #ffa620;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--color-2);
}

span {
    color: var(--colorSpan);
    font-weight: bold;
}

/* sidebar start */
.container {
    position: relative;
    /* display: none; */
    width: 100%;
}

.sidebar {
    position: fixed;
    width: 18.75em;
    height: 100%;
    background-color: var(--color-1);
    overflow-x: hidden;
    box-shadow: var(--boxShadow);
    z-index: 2;
}

.sidebar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar li {
    width: 100%;
    height: 3.75em;
    display: flex;
    align-items: center;
    color: var(--color-3);
}

.sidebar li:hover {
    font-weight: bold;
    background-color: var(--colorSpan);
    color: var(--color-1);
}

.sidebar li:first-child {
    font-weight: bold;
    line-height: 3.75em;
    margin-bottom: 1em;
    color: var(--color-3);
    background-color: var(--color-1);
    border-bottom: 1px solid var(--color-2);
}

.sidebar li:first-child:hover {
    color: none;
    background-color: none;
}

.sidebar .icon {
    min-width: 3.75em;
    font-size: 24px;
    text-align: center;
}

.sidebar a {
    text-transform: capitalize;
    font-size: 20px;
}

/* sidebar end */
/* main start */
.main {
    position: absolute;
    width: calc(100% - 18.75em);
    min-height: 100vh;
    left: 18.75em;
}
/* main end */
/* top-bar start */

.top .top-bar {
    position: fixed;
    height: 3.75em;
    width: calc(100% - 18.75em);
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    color: var(--color-3);
    padding: 0 20px;
    box-shadow: var(--boxShadow);
    z-index: 1;
}

.top .top-bar .search {
    position: relative;
    max-width: 400px;
}
.top .top-bar .search > a {
    display: flex;
    align-items: center;
}

.top .top-bar .search input {
    width: 100%;
    height: 30px;
    min-width: 128px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--color-2);
    padding: 0 40px;
}

.top .top-bar .search label {
    color: var(--color-3);
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
}

.top .top-bar .search,
.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top .top-bar img {
    width: 30px;
    object-fit: cover;
}

/* top-bar end */
/* cards start */
.cards {
    width: 100%;
    margin-top: 60px;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.cards .card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--colorSpan);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}
.cards .number {
    color: var(--color-1);
    font-size: 35px;
    font-weight: bold;
}
.cards .card-name {
    color: var(--color-3);
    font-weight: bold;
}
.cards .icon-card {
    font-size: 50px;
    color: var(--color-3);
}
/* cards end */
/*  */
.tables {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}
.img-box-small {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.last-appointments, .doctor-visiting {
    min-height: 350px;
    padding: 20px;
    box-shadow: var(--boxShadow);
    background-color: var(--color-1);
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-3);
} 
.btn {
    padding: 5px 10px;
    background-color: var(--colorSpan);
    color: var(--color-1);
    text-decoration: none;
    text-align: center;
}
table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
thead td {
    font-weight: bold;
    color: var(--color-3);
}
table tr {
    border-bottom: 1px solid var(--color-2);
}
tbody tr:hover {
    color: var(--color-1);
    background-color: var(--colorSpan);
}
table tbody tr:last-child {
    border-bottom: none;
}
td {
    padding: 9px 5px;
    text-align: center;
}
.last-appointments table tbody td:last-child{
    white-space: nowrap;
}

table .fa-star {
    color: var(--color-1);
    padding: 7px;
    border-radius: 50%;
    background-color: gold
}
table .fa-headphones-simple {
    color: var(--color-1);
    padding: 7px;
    border-radius: 50%;
    background-color: var(--color-3);
}
table .fa-download {
    color: var(--color-3);
    padding: 7px;
    border-radius: 50%;
    background-color: var(--color-2);
}
/*  */
/*  */
